{% extends 'base.html.twig' %}
{% block body %}
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}